.fw-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: 100%;
    padding-top: 40px;
}

.fw-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.fw-title {
    font-size: 18px;
    color: white;
}

/* Featured Work Showcasing */

.fw-showcase {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-around;
}

.fw-oneShowcase {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all 0.3s ease-in-out;
}

.fw-oneShowcase>img {
    width: 40vw;
    height: auto;
    margin: 0 0 10px;
}

.fw-oneShowcase:hover {
    cursor: pointer;
    transform: scale(1.05);
}