.fw-content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    height: 100%;
    padding-top: 40px;
}

.fw-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    width: 70%;
    margin-left: 15%;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}
.fw-title {
    font-size: 18px;
    color: white;
}